<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>145975930295-fcm45bh85moab9thbo0d6cgqkfn5bj51.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.145975930295-fcm45bh85moab9thbo0d6cgqkfn5bj51</string>
	<key>API_KEY</key>
	<string>AIzaSyCUlanDL320EPhAX5tj407WsbztpFXGNUQ</string>
	<key>GCM_SENDER_ID</key>
	<string>145975930295</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>ieee-f5df6</string>
	<key>STORAGE_BUCKET</key>
	<string>ieee-f5df6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:145975930295:ios:becdacfbd8bf37f5bfcc32</string>
</dict>
</plist>